*{
    font-family: 'Poppins';
    color:#1f1c1a;
}

.titres{
    text-align: center;
    margin-bottom: -0.08%;
}

.ligne-arrondie {
    width: 75px;
    height: 5px; 
    background-color: #a29082; 
    border-radius: 5px; 
    margin-left: 47%;
    justify-content: center;
}

.bouton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    color: #fff;
    background-color: #1f1c1a;
    cursor: pointer;
}

.bouton:hover {
    background-color: #a29082;
}